<section class="container">
    <div class="formContainer">
        <h2>Edit Event</h2>
        <form id="formEditEvent">
            <div class="div-inputs">
                <label for="name">Name</label>
                <input type="text" id="name" required>
            </div>
            <div class="div-inputs">
                <label for="email">Description</label>
                <input type="text" id="description" required>
            </div>
            <div class="div-inputs">
                <label for="capacity">Capacity</label>
                <input type="number" id="capacity" required>
            </div>
            <div class="div-inputs">
                <label for="date">Date</label>
                <input type="date" id="date" required>
            </div>
            <button class="buttons" id="cancel-edit">Cancel</button>
            <button class="buttons" type="submit">Edit</button>
        </form>
    </div>
</section>