<section class="container">
    <div class="head-events">
        <h1>Events</h1>
        <button class="buttons" id="add-new-event">ADD NEW EVENT</button>
    </div>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Capacity</th>
                <th>Date</th>
                <th class="buttons-action"></th>
            </tr>
        </thead>
        <tbody id="list-events"></tbody>
    </table>
</section>